body{
    font:20px Arial,sans-serif;
}
.navbar {
    background-color:  rgb(247, 58, 0);
}
.quem-somos{
    background-color: #ffffff;
    color: rgb(15, 13, 13);
}
.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros{
    background-color: rgb(247, 58, 0);
    color: white;
}
.bg-footer{
    background-color:  rgb(247, 58, 0);
    color: white;
    
}